* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    background-color: #0E1621;
    color: #fff;
    height: 100vh;
}

.main_contaner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 1400px;
    height: 100vh;

    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat_img {
    width: 45%;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.logo_img {
    width: 25px;
    object-fit: contain;
    margin-right: 10px;
}

.logo_text {
    font-size: 22px;
    font-weight: 500;
}


main {
    flex-grow: 1;
}

h1 {
    font-weight: 500;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2;

    margin-bottom: 50px;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #28A5E9;
    width: 220px;
    height: 47px;
    border-radius: 40px;

    font-size: 14px;
}

.button_line {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;


}


footer {
    display: flex;
    flex-direction: row;
    justify-content: start;

    gap: 20px;
}

.footer_nav {
    color: #444447;
}

@media (max-width: 1300px) {
    .main_contaner {
        width: 90%;
        padding-bottom: 20px;
    }

    header {
        justify-content: center;
        margin-bottom: 60px;
    }

    main {
        flex-direction: column;
        justify-content: center;
        gap: 80px;
    }

    h1 {
        width: 600px;
        text-align: center;
    }

    .left_side_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .button_line {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 40px;
    }

    .chat_img {
        width: 65%;
    }

    footer {
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .main_contaner {
        width: 100%;
        padding-bottom: 20px;
    }

    header {
        justify-content: center;
        margin-bottom: 60px;
    }

    main {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    h1 {
        width: 460px;
        font-size: 38px;
        text-align: center;
    }

    .left_side_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .button_line {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 40px;
    }

    .chat_img {
        width: 80%;
    }

    footer {
        justify-content: center;
        margin-bottom: 20px;
    }
}